body{
    font-family: 'Times New Roman' , Times, serif;
    background-color: rgba(0, 204, 255, 0.95);
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 0;


}
.contenedor{
    background-color: blueviolet;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px yellow;
    padding: 20px;
    width: 90%;
}