<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud </title>
    <link rel="stylesheet" href="{{  url_for ('static', filename='style.css') }}">
</head>
<body>
<div class="contenedor">
    <h2 style="color:rgb(8, 11, 11);"> Usuario </h2>
    <form method="post"> 
       
        <input type="text" placeholder="Ingrese su nombre" name="nombre" required> 
        <input type="email" placeholder="Ingrese su email" name="correo" required> 
        <button> Registrar 
        </button> 
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>nombre usuario</th>
            <th>correo</th>
            <th>acciones</th>

        </tr>
        {% for persona in usuario  %}
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.correo }}</td>
            <td>
                 <a href="/update/{{persona.id}}">editar</a>
                 <a href="/?eliminar={{ persona.id}}">eliminar</a>
            </td>
            
        </tr>
        {% endfor  %}

    </table>






</div>
    
</body>
</html>